<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8"/>
        <title>Some website</title>
    </head>
    <body> 
        {{> header}} <!-- header partial -->
        <p>Some text here</p>
    </body>
    {{> footer}} <!-- footer partial -->
</html>