<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8"/>
        <title>Maintenance page</title>
    </head>
    <body> 
        <p>Site under maintenance</p>
    </body>
    {{> footer}} <!-- footer partial -->
</html>